.filter-container {
    margin: 24px 0 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filtered {
    display: flex;
}

.filter-field {
    display: flex;
    align-items: center;
}

.filter-container h2 {
    margin-bottom: 0;
    margin-right: 16px;
}

.filter-field-container {
    margin: 24px 0;
}
